:root {
  --white: #ffffff;
  --maincolor:#E40046;
  --pricolor: #FF395C;
  --black: #000000;
  --overlay: #A11B44A6;
  --overlayhead: #E5E5E5;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
/* font-family: 'Jost', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */


/* Main stuff */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  /* font-family: "Roboto Condensed", sans-serif; */
}
a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acb1cc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--maincolor);
}

button:focus {
  outline: 0px dotted !important;
  outline: 0px auto !important;
}

.bgbanner {
  height: 100vh;
  background-image: linear-gradient(
      rgba(14, 61, 88, 0.2),
      rgba(14, 61, 88, 0.2)
    ),
    url("https://as1.ftcdn.net/v2/jpg/02/59/52/52/1000_F_259525294_2kKPrqWsY17J1vReeliWHoL7Gc9UOoyH.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bgbannerregister {
  height: 50vh;
  background-image: linear-gradient(
      rgba(14, 61, 88, 0.4),
      rgba(14, 61, 88, 0.4)
    ),
    url("https://as2.ftcdn.net/v2/jpg/04/45/51/45/1000_F_445514518_LCA18sokaXMt3dGYuELaYM3wSLJ1ztO8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bgbannerlogin {
  height: 50vh;
  background-image: linear-gradient(
      rgba(14, 61, 88, 0.4),
      rgba(14, 61, 88, 0.4)
    ),
    url("https://as1.ftcdn.net/v2/jpg/00/30/83/54/1000_F_30835413_jke3WCYyv8pWbcu2ikecS1bQIWJL45se.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
